@tailwind base;
@tailwind components;
@tailwind utilities;



/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: rgb(55, 65, 81) rgb(31, 41, 55);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: rgb(31, 41, 55);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(55, 65, 81);
  border-radius: 8px;
  border: 2px solid rgb(31, 41, 55);
}
